	<ion-view view-title="Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-slide_tab_menu" class=" page-slide_tab_menu">
		
	<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="الرئيسية" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/sweeden/whysweeden" >
								<i class="icon ion-android-favorite" ></i>
								<h2>{{ "لماذا السويد؟" | translate }}</h2>
								<span class="item-note pull-left">Example Menu 1</span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/ways2sweden" >
								<i class="icon ion-arrow-expand" ></i>
								<h2>{{ "طرق الهجرة" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="الدراسة" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/sweeden/edu1" >
								<i class="icon ion-ios-briefcase-outline" ></i>
								<h2>{{ "مميزات الدراسة" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/feesedu" >
								<i class="icon ion-social-buffer" ></i>
								<h2>{{ "الرسوم" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/scholarprogram" >
								<i class="icon ion-ios-albums" ></i>
								<h2>{{ "المقرر الاكاديمي" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/campus" >
								<i class="icon ion-ios-home" ></i>
								<h2>{{ "المعيشة" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/scholarships" >
								<i class="icon ion-social-usd" ></i>
								<h2>{{ "المنح الدراسية" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="العمل" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/sweeden/hosolwork" >
								<i class="icon ion-android-clipboard" ></i>
								<h2>{{ "الحصول على العمل" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/permitwork" >
								<i class="icon ion-ios-compose" ></i>
								<h2>{{ "تصريح العمل" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/passportwork" >
								<i class="icon ion-ios-paper" ></i>
								<h2>{{ "جواز السفر" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/demandejob" >
								<i class="icon ion-android-list" ></i>
								<h2>{{ "طريقة تقديم الطلب" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/paperswork" >
								<i class="icon ion-ios-printer" ></i>
								<h2>{{ "الوثائق اللازمة" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="القيادة" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/sweeden/drive1step" >
								<i class="icon ion-checkmark" ></i>
								<h2>{{ "الخطوات الأولى" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/driveschools" >
								<i class="icon ion-checkmark" ></i>
								<h2>{{ "مدارس السياقة" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="متفرقات" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/sweeden/refugesweeden" >
								<i class="icon ion-person" ></i>
								<h2>{{ "اللجوء" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/sweeden/medical" >
								<i class="icon ion-happy-outline" ></i>
								<h2>{{ "الرعاية الطبية" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('market://details?id=com.clabsing.sweedeen')" >
								<i class="icon ion-android-playstore" ></i>
								<h2>{{ "قيمنا" | translate }}</h2>
								<span class="item-note pull-left">Taking a moment to rate this app?</span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
