	<ion-view view-title="دليل الهجرة الى السويد 2018" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<center><div class="item item-title no-border item-positive">الرئيسية</div></center>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/sweeden/whysweeden" >
					<i class="icon ion-android-favorite" ></i>
					<p>{{ "لماذا السويد؟" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/sweeden/ways2sweden" >
					<i class="icon ion-arrow-expand" ></i>
					<p>{{ "طرق الهجرة" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<center><div class="item item-title no-border item-positive">الدراسة</div></center>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/sweeden/edu1" >
					<i class="icon ion-ios-briefcase-outline" ></i>
					<p>{{ "مميزات الدراسة" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/sweeden/feesedu" >
					<i class="icon ion-social-buffer" ></i>
					<p>{{ "الرسوم" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/sweeden/scholarprogram" >
					<i class="icon ion-ios-albums" ></i>
					<p>{{ "المقرر الاكاديمي" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light balanced-900-bg ink"  ng-href="#/sweeden/campus" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "المعيشة" | translate }}</p>
				</a>
				<a class="col-33 no-border light energized-bg ink"  ng-href="#/sweeden/scholarships" >
					<i class="icon ion-social-usd" ></i>
					<p>{{ "المنح الدراسية" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<center><div class="item item-title no-border item-positive">العمل</div></center>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light energized-900-bg ink"  ng-href="#/sweeden/hosolwork" >
					<i class="icon ion-android-clipboard" ></i>
					<p>{{ "الحصول على العمل" | translate }}</p>
				</a>
				<a class="col-33 no-border light assertive-bg ink"  ng-href="#/sweeden/permitwork" >
					<i class="icon ion-ios-compose" ></i>
					<p>{{ "تصريح العمل" | translate }}</p>
				</a>
				<a class="col-33 no-border light assertive-900-bg ink"  ng-href="#/sweeden/passportwork" >
					<i class="icon ion-ios-paper" ></i>
					<p>{{ "جواز السفر" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light royal-bg ink"  ng-href="#/sweeden/demandejob" >
					<i class="icon ion-android-list" ></i>
					<p>{{ "طريقة تقديم الطلب" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/sweeden/paperswork" >
					<i class="icon ion-ios-printer" ></i>
					<p>{{ "الوثائق اللازمة" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<center><div class="item item-title no-border item-positive">القيادة</div></center>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/sweeden/drive1step" >
					<i class="icon ion-checkmark" ></i>
					<p>{{ "الخطوات الأولى" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/sweeden/driveschools" >
					<i class="icon ion-checkmark" ></i>
					<p>{{ "مدارس السياقة" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			<center><div class="item item-title no-border item-positive">متفرقات</div></center>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/sweeden/refugesweeden" >
					<i class="icon ion-person" ></i>
					<p>{{ "اللجوء" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/sweeden/medical" >
					<i class="icon ion-happy-outline" ></i>
					<p>{{ "الرعاية الطبية" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-900-bg ink" ng-click="openURL('market://details?id=com.clabsing.sweedeen')" >
					<i class="icon ion-android-playstore" ></i>
					<p>{{ "قيمنا" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
